@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
}
.image-box:nth-child(2) {
  margin-top: 40px;
}

.image-box:nth-child(4) {
  margin-top: 40px;
}

/* .mobile-menu {
  position: relative;
  overflow: hidden;
} */

/* .menu-list {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.menu-list.show {
  max-height: 500px;
  opacity: 1;
} */

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.enjoy-slide {
  animation: 30s slide infinite linear;
}
/* .enjoy-slide:hover {
  animation-play-state: paused;
} */
.background-clip {
  background-color: rgba(0, 0, 0, 0.4);
}
